@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
    <ul>
        <li class="is-active"><a asp-page="/Showpiece/List">Manage your profile</a></li>
    </ul>
</nav>
<div class="tabs">
    <ul>
        <li class="@ManageNavPages.IndexNavClass(ViewContext)">
            <a asp-page="./Index">
                <span class="icon is-small"><i class="far fa-id-card" aria-hidden="true"></i></span>
                <span>Profile</span>
            </a>
        </li>
        <li class="@ManageNavPages.EmailNavClass(ViewContext)">
            <a asp-page="./Email">
                <span class="icon is-small"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                <span>Email</span>
            </a>
        </li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
            <a asp-page="./ChangePassword">
                <span class="icon is-small"><i class="fas fa-key" aria-hidden="true"></i></span>
                <span>Password</span>
            </a>
        </li>
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
            <a asp-page="./ExternalLogins">
                <span class="icon is-small"><i class="fas fa-link" aria-hidden="true"></i></span>
                <span>External logins</span>
            </a>
        </li>
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)">
            <a asp-page="./PersonalData">
                <span class="icon is-small"><i class="fas fa-user-lock" aria-hidden="true"></i></span>
                <span>Personal data</span>
            </a>
        </li>
    </ul>
</div>
