@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!--This HAS to be here an not in CSS. Don't get clever, or the main page hero will not render-->
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    #wrapper {
        flex: 1;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="A gallery of movie posters and box art that doesn't exist.">
    <meta property="og:site_name" content="Make this god damn movie" />

    @if (ViewData["ogp.Image"] != null)
    {
        <meta property="og:image" content="@ViewData["ogp.Image"]" />
        <meta property="og:image:type" content="image/png" />
    }
    else
    {
        <meta property="og:image" content="https://s3-ap-southeast-2.amazonaws.com/img.mtgdm/layout/mtgdm_email_banner.png" />
        <meta property="og:image:type" content="image/png" />
    }

    @if (ViewData["ogp.FullURL"] != null)
    {
        <meta property="og:url" content="@ViewData["ogp.FullURL"]" />
    }

    @if (ViewData["ogp.Title"] != null)
    {
        <meta property="og:title" content="@ViewData["ogp.Title"]" />
        <meta property="og:type" content="video.movie" />
    }

    @if (ViewData["ogp.Description"] != null)
    {
        <meta property="og:description" content="@ViewData["ogp.Description"]" />
    }
    <title>mtgdm - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bulmaswatch.min.css" />
    <link rel="stylesheet" href="~/lib/@Html.Raw("@")creativebulma/bulma-divider/dist/bulma-divider.min.css" />
    <link rel="stylesheet" href="~/lib/@Html.Raw("@")creativebulma/bulma-tagsinput/dist/css/bulma-tagsinput.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/star-rating-svg/src/css/star-rating-svg.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@Configuration["Google.Analytics.TrackingID"]"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@Configuration["Google.Analytics.TrackingID"]');
    </script>
</head>

<body class="has-navbar-fixed-top">
    <div id="wrapper">
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">

                <a class="navbar-item" asp-page="/index">
                    <img src="https://dpwif1tvejv9j.cloudfront.net/mtgdm_logo.png" alt="MTGDM" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarBurger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navBarBurger" class="navbar-menu is-dark">
                <div class="navbar-start">
                    <a class="navbar-item" asp-page="/Showpiece/List">
                        <span class="icon">
                            <i class="fas fa-film fa-lg fa-fw"></i>
                        </span>
                        <span>&nbsp; Gallery</span>
                    </a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-page="/User/Index" asp-route-UserID="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value">
                            <span class="icon is-small">
                                <i class="fas fa-user fa-lg"></i>
                            </span>
                            <span>&nbsp; My profile</span>
                        </a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="navbar-item" asp-page="/Admin/Index">
                            <span class="icon is-small">
                                <i class="fas fa-user-secret fa-lg"></i>
                            </span>
                            <span>&nbsp; Admin</span>
                        </a>
                    }
                </div>
                <partial name="_LoginPartial" view-data="@ViewData" />
            </div>
        </nav>

        @if (ViewData.ContainsKey("ReturnURL") && ViewData["ReturnURL"].ToString() == "/")
        {
            <partial name="_CookieConsentPartial" />
            //Render index page without container
            @RenderBody()
        }
        else
        {

            //Render all pages within a container
            <section id="section-main" class="section">
                <div class="container">
                    <partial name="_CookieConsentPartial" />
                    <div class="columns is-centered">
                        <div class="column is-10">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>

    <partial name="_FooterPartial" />

    <script src="https://kit.fontawesome.com/16808ca666.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/star-rating-svg/src/jquery.star-rating-svg.js" asp-append-version="true"></script>
    <script src="~/lib/@Html.Raw("@")creativebulma/bulma-tagsinput/dist/js/bulma-tagsinput.min.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
