@page "/view/{name}"

@using mtgdm.Views.Shared;
@using Microsoft.Extensions.Configuration
@using mtgdm.Helpers;

@inject IConfiguration Configuration

@model mtgdm.Areas.Identity.Pages.Showpiece.ViewModel
@{

    ViewData["Title"] = @Model.Showpiece.Title;
    ViewData["ReturnURL"] = Url.Page("/Showpiece/View", new { name = Model.Showpiece.Slug });

    //Facebook twitter social media hints, Facebook Graph Metadata: https://developers.facebook.com/tools/debug/
    ViewData["ogp.Title"] = @Model.Showpiece.Title;
    if (!string.IsNullOrEmpty(@Model.Showpiece.Synopsis))
        ViewData["ogp.Description"] = @Model.Showpiece.Synopsis;

    ViewData["ogp.Image"] = @Model.Showpiece.URL;
    //ViewData["ogp.FullURL"] = string.Format("{0}://{1}{2}", Request.Scheme, Request.Host, ViewData["ReturnURL"]);
    ViewData["ogp.FullURL"] = string.Format("{0}://{1}{2}", Request.Scheme, "mtgdm.com", ViewData["ReturnURL"]);

    var publishedIcon = (Model.Showpiece.Published) ? "far fa-eye" : "fas fa-eye-slash";
    var publishedText = (Model.Showpiece.Published) ? "Published" : "Unpublished";
    var publishedClass = (Model.Showpiece.Published) ? "has-text-success" : "has-text-danger";
    var publishedButtonIcon = (Model.Showpiece.Published) ? "fas fa-eye-slash" : "far fa-eye";
    var publishedButtonText = (Model.Showpiece.Published) ? "Unpublish" : "Publish";
    var ratingTitle = (Model.RatingDisabled) ? "Please log in to rate" : "Rating";
}
<div class="columns is-vertical">
    <div class="column">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a asp-page="/Showpiece/List" title="View gallery">Gallery</a></li>
                <li><a asp-page="/User/Index" asp-route-UserID="@Model.Showpiece.UserID">@Model.Username</a></li>
                <li class="is-active"><a asp-page="/Showpiece/View" asp-route-ShowpieceID="@Model.Showpiece.ShowpieceID">@Model.Showpiece.Title</a></li>
            </ul>
        </nav>
    </div>

    @if (Model.CanEdit)
    {
        <div class="column">
            <div class="level">
                <div class="level-left"></div>
                <div class="level-right">
                    <div class="buttons">
                        <a asp-page="/Showpiece/Edit" asp-route-Name="@Model.Showpiece.Slug" class="button is-small is-rounded is-primary">
                            <span class="icon is-large">
                                <i class="fas fa-edit fa-lg"></i>
                            </span>
                            <span>Edit</span>
                        </a>
                        <a asp-page="/Showpiece/Delete" asp-route-Name="@Model.Showpiece.Slug" class="button is-small is-rounded is-danger is-light">
                            <span class="icon is-large">
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </span>
                            <span>Delete</span>
                        </a>
                        <form class="form-is-clean" asp-page="/Showpiece/Publish" method="post" asp-route-ShowpieceID="@Model.Showpiece.ShowpieceID">
                            <button type="submit" class="button is-primary is-rounded is-small">
                                <span class="icon is-large">
                                    <i class="@publishedButtonIcon fa-lg"></i>
                                </span>
                                <span>@publishedButtonText</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="columns reverse-row-order">
    <div class="column is-7">
        <figure class="image showpiece-image is-2by3">
            <partial name="ResponsiveImage" model="new ResponsiveImageViewModel(@Model.Showpiece.URL, @Model.Showpiece.Title, 800)" />
        </figure>
    </div>

    <div class="column is-5">
        <div class="box">
            <div class="field right-left">
                <div class="">
                    <p class="title is-5">
                        <span>@Model.Showpiece.Title</span>
                    </p>
                    <p class="subtitle is-7">
                        By:
                        <a asp-page="/User/Index" asp-route-UserID="@Model.Showpiece.UserID">
                            <span>@Model.Username</span>
                        </a>
                        <span>&nbsp;·&nbsp;</span>
                        <span title="@Model.Showpiece.Created.ToString("dddd, dd MMMM yyyy HH:mm:ss")">@DateHelper.TimeAgo(@Model.Showpiece.Created)</span>
                    </p>
                </div>
                <div class="buttons">
                    <a style="border:none;" class="button is-small" href="https://twitter.com/intent/tweet?url=@ViewData["ogp.FullURL"]&text=Make this god damn movie - @ViewData["ogp.Title"]&hashtag=mtgdm" target="_blank">
                        <span class="icon is-medium"><i class="fab fa-twitter-square fa-2x"></i></span>
                    </a>
                    <a style="border:none;" class="button is-small" href="https://www.facebook.com/dialog/feed?&app_id=@Configuration["Facebook.OAuth.AppID"]&link=@ViewData["ogp.FullURL"]&display=page&quote=@ViewData["ogp.Title"]&hashtag=mtgdm" target="_blank">
                        <span class="icon is-medium"><i class="fab fa-facebook-square fa-2x"></i></span>
                    </a>
                </div>
            </div>

            <div class="field">
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <form class="form-is-clean" id="form_@Model.Showpiece.ShowpieceID.ToString()" method="post" asp-page="/Showpiece/Rating">
                                <div id="@Model.Showpiece.ShowpieceID.ToString()" class="mtgdm_xyz" title="@ratingTitle"></div>
                                @Html.Hidden("showpieceID", Model.Showpiece.ShowpieceID.ToString())
                                @Html.Hidden("disabled", Model.RatingDisabled)
                                @Html.Hidden("rating", Model.Rating)
                            </form>
                        </div>
                        <div class="level-item">
                            <div class="content">
                                <p class="subtitle is-7">@Model.RatingCount votes</p>
                            </div>
                        </div>
                    </div>
                    <div class="level-right is-size-7">
                    </div>
                </div>
            </div>

            <div class="field">
                <p class="is-size-6 has-line-breaks">@Model.Showpiece.Synopsis</p>
            </div>

            <div class="field">
                <div class="tags tag-font-size">
                    @if (Model.Genres.Count > 0)
                    {
                        @foreach (var genre in Model.Genres)
                        {
                            <span class="tag is-normal is-light is-small">@genre.Name</span>
                        }
                    }
                </div>
            </div>

            <div class="field">
                <div class="level is-mobile subtitle is-size-7">
                    <div class="level-left">
                        <div class="level-item">
                            <p title="Last updated: @Model.AnalyticsSummary.Created.ToString("dddd, dd MMMM yyyy HH:mm:ss")">Views: @Model.AnalyticsDetail.Views</p>
                        </div>
                        <div class="level-item">
                            <p title="Last updated: @Model.AnalyticsSummary.Created.ToString("dddd, dd MMMM yyyy HH:mm:ss")">Visitors: @Model.AnalyticsDetail.Visitors</p>
                        </div>
                    </div>
                    <div class="level-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="level-item">
                                <a asp-page="/User/Report/Add" asp-route-Name="@Model.Showpiece.Slug">Report</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            @if (Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <div class="is-size-7">
                                    <span><a asp-page="/User/Index" asp-route-UserID="@comment.Comment.UserID" title="View profile">@comment.Username</a></span>
                                    <span>&nbsp;·&nbsp;</span>
                                    <span title="@comment.Comment.Created.ToString("dddd, dd MMMM yyyy HH:mm:ss")">
                                        <small>@DateHelper.TimeAgo(@comment.Comment.Created)</small>
                                    </span>
                                </div>
                                <small class="has-line-breaks">@comment.Comment.Content</small>
                            </div>
                        </div>
                        @if (comment.CanDelete)
                        {
                            <form method="post" asp-page-handler="DeleteComment">
                                <button class="delete" title="Delete"></button>
                                @Html.Hidden("showpieceID", comment.Comment.ShowpieceID)
                                @Html.Hidden("Comment.CommentID", comment.Comment.CommentID)
                            </form>
                        }
                    </article>
                }
            }
            else if (!User.Identity.IsAuthenticated)
            {
                <p>No comments yet</p>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <article class="media">
                    <div class="media-content">
                        <form class="form-is-clean" method="post" asp-page-handler="Comment">
                            <div class="field">
                                @Html.ValidationMessage("Comment.Length", "", new { @class = "help is-danger" }, "")
                                <p class="control">
                                    @Html.TextAreaFor(t => t.Comment.Content, new { @class = "textarea", placeholder = "Add a comment" })
                                </p>
                            </div>
                            <button class="button is-primary">Post comment</button>
                            @Html.Hidden("showpieceID", Model.Showpiece.ShowpieceID.ToString())
                        </form>
                    </div>
                </article>
            }

        </div>
    </div>
</div>
